<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Select parser</title>
    </head>
    <body>
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    {% block leftcontent %}{% endblock %}
                </div>
                <div class="col">
                    <form class="form" action="" method="GET">
                        <select class="form-select" name="menu1" size="1">
                            <option selected="selected" value="cnn">Cnn</option>
                            <option value="bbc">Bbc</option>
                            <option value="zalando">Zalando</option>
                            <option value="habr">Habr</option>
                            <option value="youtube">Youtube</option>
                            <option value="vk">VK</option>
                        </select>
                        <br>
                        <select class="form-select" name="menu2" size="1">
                            <option selected="selected" value="None">Нет категории</option>
                            <option value="sport">Спорт</option>
                            <option value="news">Новости</option>
                            <option value="article">Статьи</option>
                            <option value="Product">Товары</option>
                            <option value="Video">Видео</option>
                            <option value="post">Комментарии</option>
                        </select>
                        <br>
                        <select class="form-select" name="menu3" size="1">
                            <option selected="selected" value="link">Ссылки</option>
                            <option value="objects">Объекты</option>
                        </select>
                        <div class="d-grid gap-2">
                        <input class="btn btn-primary" type="submit" value="Отправить">
                        </div>
                    </form>
                </div>
                <div class="col">
                    {% block rightcontent %}{% endblock %}
                </div>
            </div>
            <div class="container">
              {% block maincontent %}{% endblock %}
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   </body>
</html>
