{% extends "user_interface/base.html" %}
{% load static %}
{% block maincontent %}

{% if model == 'link' %}
    {% for object in page_obj %}
        <p><b>{{ forloop.counter }}. Сайт: </b>{{ object.site }}, <b>тип: </b>{{ object.type }}</p>
        <p><b>Ссылка на статью: </b>{{ object.link }}</p>
    {% endfor %}
{% endif %}

{% if model == 'article' %}
    {% for object in page_obj %}
        <p><b>{{ forloop.counter }}. Дата: </b>{{ object.create_date }}, <b>Сайт: </b>{{ object.link }}</p>
        <p><b> Название: </b>{{ object.title }}</p>
        <p>{{ object.text }}</p>
    {% endfor %}
{% endif %}

{% if model == 'product' %}
    {% for object in page_obj %}
        <p><b>{{ forloop.counter }}. Ссылка: </b>{{ object.link }}</p>
        <p><b> Название: </b>{{ object.title }}, <b>Цена: </b>{{ object.price }}, <b>Тип: </b>{{ object.type }}</p>
        <p><b>{{ object.text }}</b></p>
    {% endfor %}
{% endif %}

{% if model == 'video' %}
    {% for object in page_obj %}
        <p><b>{{ forloop.counter }}. Ссылка: </b>{{ object.link }}</p>
        <p><b>Дата выхода: </b>{{ object.data }}, <b>Название: </b>{{ object.name }}</p>
        <p><b>Лайки: </b>{{ object.likes }}, <b>Дизлайки: </b>{{ object.dislikes }}, <b>Просмотры: </b>{{ object.views }}</p>
    {% endfor %}
{% endif %}

{% if model == 'Post' %}
    {% for object in page_obj %}
        <p><b>{{ forloop.counter }}. Ссылка: </b>{{ object.link }}</p>
        <p><b>Лайки: </b>{{ object.likes }}, <b>Репосты: </b>{{ object.reposts }}, <b>Просмотры: </b>{{ object.views }}</p>
        <p><b>Сообщения: </b>{{ object.posts }}</p>
    {% endfor %}
{% endif %}


{% if page_obj.paginator.num_pages == 1 %}
    <p> Objects do not exist </p>
{% endif %}

{% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?menu1={{ site }}&menu2={{ category }}&menu3={{ obj }}&page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?menu1={{ site }}&menu2={{ category }}&menu3={{ obj }}&page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% endblock %}